# CLion specific
.idea/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cbp

# C specific
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Windows specific
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# VS Code (in case you sometimes use it)
.vscode/
*.code-workspace

# Build folders
bin/
build/
out/